body {
  margin: 0;
  padding: 40px;
  font-family: "Parkinsans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
    background: linear-gradient(to bottom, #e0c3fc, #8ec5fc);
  text-align: center;
  min-height: 100vh;
}
.app-title {
  margin-bottom: 20px;
}